{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-standard"
  ],
  "rules": {
    "alpha-value-notation": null,
    "color-funtion-notation": null,
    "declaration-block-no-redundant-longhand-properties": null,
    "keyframes-name-pattern": null,
    "no-empty-source": null,
    "select-class-pattern": null
  }
}
