.pur {
  background-color: #351c74;
  color: white;
}

.lightPur {
  background-color: #674ea7;
  color: white;
}

.red {
  background-color: #e06666;
  color: white;
}

.orange {
  background-color: #f6b26a;
}

.yellow {
  background-color: yellow;
}

.white {
  background-color: white;
}
