button.language {
  font-size: 24px;
  background-color: lightgray;
  margin-left: 12px;
  margin-right: 12px;
  padding: 6px 16px;

  /* First px is shorthand for top and bottom;
    second px is shorthand for left and right. */
  border-radius: 6px;
}
